<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_bico"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_bico"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bico">
        <activity
            android:name=".Prestador.HomePrestador"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadCliente.CadastroClienteEmail"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadCliente.CadastroClienteNome"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadPrestador.CadastroPrestadorEmail"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadPrestador.CadastroPrestadorServico"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadPrestador.CadastroPrestadorUsuario"
            android:exported="false" />
        <activity
            android:name=".Cadastro.CadPrestador.CadastroPrestadorNome"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login.PaginaLogin"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Cadastro.CadCliente.CadastroClienteLocal"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Cliente.HomeCliente"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login.RecuperacaoSenhaCodigo"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login.RecuperacaoSenhaEmail"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Login.RecuperacaoSenhaTrocarSenha"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Prestador.EditarPrestador"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Cliente.PesquisaCliente"
            android:exported="false"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize" />

        <!-- Activity da biblioteca de recorte de imagem -->
        <activity
            android:name="com.canhub.cropper.CropImageActivity"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
        <activity
            android:name=".Cliente.EditarCliente"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity_configuracao_cliente"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>